@charset "UTF-8";


:root {
    --default-width: 400px;
    --default-height: 500px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

section.cards-box {
    position: relative;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    gap: 3px;

    max-width: var(--default-width);
    max-height: var(--default-height);
    width: 100%;
    height: 100%;

    transform: translate(-50%, -50%);

    
    box-sizing: content-box;
    padding: 50px;
}

.row-card-wrapper {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.plastic-card {
    background-color: transparent;
    perspective: 1000px;
}

.card {
    position: relative;
    top: 0;
    width: calc(var(--default-width) / 5);
    height: calc(var(--default-height) / 4);

    transform-style: preserve-3d;  
    cursor: pointer;
    transition: all 0.5s;
    
}

.card:hover, .floating-to-top {
    box-shadow: -4px -2px 5px rgba(0, 0, 0, 0.554);
    top: -20px;
}

div:where(.card-front, .card-back) {
    width: 100%;
    height: 100%;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    backface-visibility: hidden;

    color: white;
}

div.card-front > img {
    width: 100%;
    height: 100%;
}

.card-front {
    background-color: royalblue;
    transform: rotateY(180deg);
}

.card-back {
    background-color: rgb(21, 42, 107);
    font-size: 10px;
}

.card-flip {
    transform: rotateY(180deg);
}

#placar {
    width: 100%;
    height: 30px;

    background-color: blue;
}